@model HCMPo.Models.Attendance

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTimeEt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInTimeEt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutTimeEt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutTimeEt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PunchType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PunchType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificationMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificationMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEarlyDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEarlyDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsManualEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsManualEntry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManualEntryReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManualEntryReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
